* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(132, 232, 9);
}

p {
  color: red;
  font-size: 20px;
}

h1 {
  color: blue;
  font-size: 36px;
}

h2 {
  color: purple;
  font-size: 28px;
}

.cau-van {
  color: green;
  font-size: 24px;
}

.cau-van-2 {
  color: rgb(7, 33, 160);
  font-size: 40px;
}

.danh-sach {
  color: orange;
  font-size: 18px;
  list-style: none;
}

h3.tieu-de-nho {
  color: brown;
  font-size: 16px;
}

a,
table {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

#github-link,
.bang {
  color: rgb(255, 0, 0);
  font-size: 20px;
}

.cau-van-nho.cau-van-nho-2 {
  color: rgb(0, 255, 255);
  font-size: 50px;
}
